@import './../../App.scss';


//$color-primary : #ffffff;
//$color-secondary : #bbc3c6;
//$color-secondary-lighter : #e2ebed;
//$color-text : #0f1b07;
//$color-elements : #5c821a;
//$color-elements-active: #c6d166;

//$color-primary : #cdcdc0;
//$color-secondary : #b38867;
//$color-secondary-lighter : #626d71;
//$color-text : #b38867;
//$color-elements : #626d71;
//$color-elements-active: #b38867;


.card {
    border: 1px solid $color-secondary;
    width: 80%;
    height: auto;
    max-width: 900px;
    margin: 10px auto 0;
    background: $color-primary;
    border-radius: 10px;

    background-image: linear-gradient(115deg,
            $color-secondary-lighter 2.78%,
            $color-primary 2.78%,
            $color-primary 50%,
            $color-secondary-lighter 50%,
            $color-secondary-lighter 52.78%,
            $color-primary 52.78%,
            $color-primary 100%);
    background-size: 18.00px 38.60px;


    &:hover {
        transform: scale(1.005);
        background-color: $color-secondary;
    }

    &Header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &Body {

    }

    &Footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        padding-right: 5px;
        padding-left: 5px;
    }

    &Button {
        padding: 10px 15px;
        margin: 5px 5px;
    }
}


.buttonGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .buyButton {
        background-color: $color-elements;
        font-size: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 7px;
        color: $color-primary;
        border: 1px solid $color-secondary;

        &:hover {
            cursor: pointer;
        }

        &:active{
            transform: translate(0.2em,0.4em);
            box-shadow: none;
        }
    }

    .infoButton {
        background-color: transparent;
        border-radius: 7px;
        border: none;
        color: $color-elements;
        outline-color: transparent;
        font-size: 20px;

        &:hover {
            cursor: pointer;
        }

        &:active{
            transform: translate(0.2em,0.4em);
            outline-color: transparent;
        }

    }
}



.travelStart {
    display: flex;
    flex-direction: row;

    &LogoContainer{
        width: 50px;
        height: 50px;
        border-radius: 5em;
        background-color: $color-secondary;
        position: relative;
        margin: 10px 10px;
        position: relative;

        &Text{
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
        }


        &:before {
            content: '';
            position: absolute;
            top: 50px;
            bottom: 0;
            width: 3px;
            background: $color-elements;
            left: 0;
            margin-left: 18px;
            height: 50px;
            display: block;
        }
    }

    &Data {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

.travelEnd {
    display: flex;
    flex-direction: row;

    &LogoContainer{
        width: 50px;
        height: 50px;
        border-radius: 5em;
        background-color: $color-secondary;
        position: relative;
        margin: 10px 10px;

        &Text{
            position: absolute;
            top: 50%;
            left:50%;
            transform: translate(-50%,-50%);
        }

    }

    &Data{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.price {
    font-weight: 900;
    font-size: 24px;
    color: $color-elements;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 5%;
}

.routeShortInfo{

    &Data{
        font-size: 14px;
        line-height: 1em;
        margin: 4px;

        &Time{
            font-size: 24px;
            font-weight: 600;
            line-height: 1em;
            margin: 10px;
        }

        &Travel{
                font-size: 0.8rem;
        }
    }

    &Direction{
        display: none;
        font-size: 24px;
        font-weight: 600;
        line-height: 1em;
        margin: 10px;
    }
}

.travelDataSeparator{
    display: none;
    margin-right: 10px;
    margin-left: 10px;
}

.iconFooter{
    padding: 5px;
}

.additionalInfo{

    &Main{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-grow: 0;
        flex-shrink: 0;
        flex-wrap: wrap;
    }

    &Secondary{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    &Content{
        display: flex;
        align-items: center;
    }
}



@media screen and (max-width: 406px) {
    .busNumberContainer {
        display: none;
    }

    .additionalInfoSecondary{
        display: none;
    }

}

@media (min-width: 406px) and (max-width: 510px) {


}

@media (min-width: 510px) and (max-width: 768px) {

    .additionalInfo{
        display: flex;
        flex-wrap: wrap;
    }


    .travelStartData {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .travelEndData {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
.travelDataSeparator{
    display: inline;
}

.buttonGroup {
    width: auto;
}
}

@media (min-width: 768px) {

    .travel{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .price{
        order: 2;
    }


    .routeShortInfo{

        &Direction{
            display: inline;
        }

        &DataTime{
            display: inline;
        }
    }

    .travelStartData {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .travelEndData {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .travelData{

        &Separator{
            display: inline;
        }

        &City{
            font-size: 26px;
        }

        &Time{
            font-size: 26px;
        }

    }

    .buttonGroup {
        width: auto;
    }
}
