@import "../../../App";

.ticketMobileInfo{
  display: none;
}

.ticketMobileInfoBuyButton{
  font: $font-regular;
  color: inherit;
}



@media screen and (max-width: $size-pads-vertical) {

  .ticketMobileInfo{
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &Header{
      position: relative;
    }

    &Price{
      font: $font-headers !important;
      font-weight: 700 !important;
      color: $font-color-headers;
      padding: 5px;
      padding-top: 10px;

    }

    &Text{
      font: $font-regular-mobile;
      color: $font-color-regular;
      padding: 5px;
    }

    &Divider{
      background-color: $color-background-panels !important;
      width: 100%;
    }

    &Additional{
      font: $font-regular-mobile;
      color: $font-color-regular;
      padding: 5px;
      align-self: start;
      margin-left: 20%;

      &Text{
        vertical-align: super;
      }

    }

    &RouteButton{
      align-self: end;
      display: block !important;
      margin: 0 auto !important;
      margin-top: -2px !important;
    }

    &Direction{
      width: auto;
      position: absolute;
      font:$font-headers-mobile;
      left: 50%;
      transform: translateX(-50%);

    }

    &BuyButton{
      margin: 20px auto !important;
    }
  }

  .ticketMobileInfoBackButton{
    justify-self: start;
    align-self: start;
    margin-left: 10px !important;
  }

  .ticketMobileInfoRouteContainer{
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
}
