@import './../../App.scss';

$color-non-payed: orange;
$color-rejected: red;

.ticket{
    &Card {
        width: 80%;
        height: auto;
        margin: 0 auto;
        max-width: 900px;
        margin-top: 10px;

        background-image: linear-gradient(115deg,
                $color-secondary-lighter 2.78%,
                $color-primary 2.78%,
                $color-primary 50%,
                $color-secondary-lighter 50%,
                $color-secondary-lighter 52.78%,
                $color-primary 52.78%,
                $color-primary 100%);
        background-size: 18.00px 38.60px;
        border: 1px solid $color-secondary;
        border-radius: 10px;

        &:hover{
            transform: scale(1.015);
        }
    }

    &Header{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-bottom: 3px;
        border: 1px solid $color-secondary;
        border-bottom: 3px solid $color-elements-active;

    }

    &Status {
        font-weight: 900;
        padding: 5px;
        margin: 0;
    }

    &Number{
        padding: 5px;
        margin: 0;
    }

    &Body{

    }

    &Short{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        border: 1px solid $color-secondary;
    }

    &Departure{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        border: 1px solid $color-secondary;

        &Title{
            align-self: center;
        }
    }

    &Arrival{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        border: 1px solid $color-secondary;

        &Title{
            align-self: center;
        }
    }

    &Bus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        border: 1px solid $color-secondary;

        &Title{
            align-self: center;
        }
    }

    &StatusNonPayed{
        background-color: $color-non-payed;
    }

    &ButtonGroup {
        padding: 5px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-around;
        border: 1px solid $color-secondary;
        border-top: 3px solid $color-secondary;
        flex-wrap: wrap;
    }

    &Button{
        padding: 10px 15px;
        background-color: $color-elements;
        border-radius: 7px;
        color: $color-primary;
        border: 1px solid $color-secondary;
        font-size: 20px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 7px;
        margin: 0.2em;

        &:active{
            transform: translate(0.2em,0.4em);
            box-shadow: none;
        }
    }

    &Field{
        padding: 5px;
        border: 1px solid $color-secondary;
        margin-top: 10px;
        border-radius: 5px;
        background-color: $color-secondary;
        width: 80%;
        margin: 3px auto;
    }
}

@media screen and (max-width: 406px){
    .ticketDeparture {
        display: none;
    }

    .ticketArrival{
        display: none;
    }

    .ticketBus{
        display: none;
    }

    .routeButton{
        display: none;
    }
}

@media (min-width: 406px) and (max-width: 768px) {
    .ticketDeparture {
        display: none;
    }

    .ticketArrival{
        display: none;
    }

    .ticketBus{
        display: none;
    }

    .routeButton{
        display: none;
    }
}

@media (min-width: 768px) {
    .routeButtonSm{
        display: none;
    }
    .ticketShort{
        display: none;
    }

    .ticketBody{
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .ticketArrival{
        flex-grow: 1;
        justify-content: flex-start;
    }

    .ticketDeparture{
        flex-grow: 1;
        justify-content: flex-start;
    }

    .ticketBus{
        flex-grow: 1;
        justify-content: flex-start;
    }
}
