[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
}

* {
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 1.7em;
    font-weight: 500;
}
